.p25 {
	position:absolute;
	left:769px; width:110px;
	top:78px; height:210px;
	background-image:url('img-MT/Puzzle_25.png');
}
.p24 {
	position:absolute;
	left:652px; width:117px;
	top:78px; height:210px;
	background-image:url('img-MT/Puzzle_24.png');
}
.p23 {
	position:absolute;
	left:620px; width:32px;
	top:78px; height:210px;
	background-image:url('img-MT/Puzzle_23.png');
}
.p32 {
	position:absolute;
	left:48px; top:288px;
	width:165px; height:26px;
	background-image:url('img-MT/Puzzle_32.png');
}
.p33 {
	position:absolute;
	left:213px; width:41px;
	top:288px; height:168px;
	background-image:url('img-MT/Puzzle_33.png');
}
.p34 {
	position:absolute;
	left:254px; width:195px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_34.png');
}
.p35 {
	position:absolute;
	left:449px; width:59px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_35.png');
}
.p36 {
	position:absolute;
	left:508px; width:112px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_36.png');
}
.p37 {
	position:absolute;
	left:620px; width:32px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_37.png');
}
.p38 {
	position:absolute;
	left:652px; width:117px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_38.png');
}
.p39 {
	position:absolute;
	left:769px; width:110px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_39.png');
}
.p40 {
	position:absolute;
	left:879px; width:57px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_40.png');
}
.p41 {
	position:absolute;
	left:936px; width:118px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_41.png');
}
.p42 {
	position:absolute;
	left:1054px; width:98px;
	top:288px; height:26px;
	background-image:url('img-MT/Puzzle_42.png');
}
.p45 {
	position:absolute;
	left:48px; top:314px;
	width:165px; height:142px;
	background-image:url('img-MT/Puzzle_45.png');
}

.p46 {
	position:absolute;
	left:254px; width:130px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_46.png');
}
.p47 {
	position:absolute;
	left:384px; width:65px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_47.png');
}
.p48 {
	position:absolute;
	left:449px; width:35px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_48.png');
}
.p49 {
	position:absolute;
	left:484px; width:24px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_49.png');
}
.p50 {
	position:absolute;
	left:508px; width:112px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_50.png');
}
.p51 {
	position:absolute;
	left:620px; width:32px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_51.png');
}
.p52 {
	position:absolute;
	left:652px; width:117px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_52.png');
}
.p53 {
	position:absolute;
	left:769px; width:110px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_53.png');
}
.p54 {
	position:absolute;
	left:879px; width:57px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_54.png');
}
.p55 {
	position:absolute;
	left:936px; width:118px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_55.png');
}
.p56 {
	position:absolute;
	left:1054px; width:98px;
	top:314px; height:142px;
	background-image:url('img-MT/Puzzle_56.png');
}


